{{ ansible_managed | comment }}

[Unit]
Description=Scrub ZFS Pools
Requires=zfs.target
After=zfs.target

[Service]
Type=oneshot
ExecStartPre=-/bin/bash -c "pools=$$(/sbin/zpool list -H -o name | tr $! '\n' ' '); exec /sbin/zpool scrub -s $${pools}"
ExecStart=/bin/bash -c "pools=$$(/sbin/zpool list -H -o name | tr $! '\n' ' '); exec /sbin/zpool scrub $${pools}"
Nice=19
IOSchedulingClass=idle
KillSignal=SIGINT
